<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Short id Details</h1>
    <% allurls.forEach(url => { %>
          
        <li>
            ShortID:  <%= url.shortId %> Redirect: <%= url.redirectURL %>  Total Click :<%= url.visitedHistory.length %> 
        </li>
    <% }) %>
</body>
</html>